.card {
  @media screen and (max-width: 830px) {
    width: 100%;
  }
  width: 350px;
  margin: 16px;
  &__date-container {
    display: flex;
    &__icon {
      margin-right: 10px;
    }
  }
  &__title {
    margin: 8px 0;
    min-height: 100px;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
  }
  &__description {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    min-height: 70px;
  }
  &__button {
    margin: 10px;
    text-transform: none;
  }
}
